@font-face {
    font-family: "Fonte Android";
    src:  url(../fontes/idroid.otf) format("truetype");
}

body {
    background-color: #84e1ad;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(0deg, rgba(26,92,56,0.9612219887955182) 37%, rgba(23,161,85,0.48503151260504207) 98%);
    padding: 5px;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    font-family: Fonte Android, sans-serif;
    color: #1a5c38;
    margin: 0;
    font-size: 2em;
}
.descricao {
    color: white;
    text-align: center;
    padding: 5px;
}

nav > a {
    color: white;
    font-weight: bold;
    margin: 5px 10px;
    padding: 5px;
}

.titulo {
    font-family: Fonte Android, sans-serif;
    color: #1a5c38;
    font-size: 22px;
    background: linear-gradient(90deg, rgba(223,254,236,1) 0%, rgba(232,255,242,0.6306897759103641) 64%);
}

main {
    background-color: white;
    margin: 0px 120px;
    padding: 5px;
}

section {
    padding: 15px;
    text-align: justify;
}

.palavraverde {
    color: #2b965b;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.video {
    background-color: #1a5c38;
}

.caixinha {
    background-color: #aee7c8;
    border-radius: 20px;
    padding: 5px;
}

h4 {
    background-color: #2da161;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
    }

    footer {
        background-color: #1a5c38;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 5px;
    }